### Importing necessary Libraries!

In [1]:
import numpy as np, pandas as pd
import seaborn as sns, matplotlib.pyplot as plt
import plotly.express as px
import ast

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.2f}'.format)

### Talking about Datasets

##### As we have 7 DataSets and we have to work upon them carefully as we need!

    So Working upon the Creditors dataframe first then will shift on other :
        1 About this given dataset there is 3 columns >> Cast >> Crew >> ID
            NOTE -- in the creditors columns we have some unique type of entries they are in form of
                    String > List > Dictionary ** n 
            So we need to segregate the values as per our need.

##### Creditors Dataset.

In [2]:
credits = pd.read_csv('DataSets/credits.csv')
credits.head()

                                                cast                                               crew     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [3]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [4]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [5]:
credits.shape

(45476, 3)

    Now Working upon the Keywords dataframe next then will shift on other :
        3 About this given dataset there is 2 columns >> keywords >> ID
            NOTE -- in the keywords columns we have some unique type of entries they are in form of
                    String > List > Dictionary ** n 
            So we need to segregate this too.

##### Keywords Dataset

In [6]:
keywords = pd.read_csv('DataSets/keywords.csv')
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [7]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [8]:
keywords.isnull().sum()

id          0
keywords    0
dtype: int64

In [9]:
keywords.shape

(46419, 2)

    Now Working upon the links and links_small dataframe next then will shift on other :
        3, 4 About this given dataset there is 2 columns >> movieId >> imdbId >> tmdbId
            NOTE -- This column/Features contains the Ids of the column only most for merging the columns
                    so this is is most important for merging.
            The merge function is also have a roleplay too.

##### Links dataset.

In [10]:
link = pd.read_csv('DataSets/links.csv')
link_small = pd.read_csv('DataSets/links_small.csv')

In [11]:
link.head()

   movieId  imdbId   tmdbId
0        1  114709   862.00
1        2  113497  8844.00
2        3  113228 15602.00
3        4  114885 31357.00
4        5  113041 11862.00

In [12]:
link_small.head()

   movieId  imdbId   tmdbId
0        1  114709   862.00
1        2  113497  8844.00
2        3  113228 15602.00
3        4  114885 31357.00
4        5  113041 11862.00

In [13]:
link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [14]:
print(f"The shape of Link is {link.shape[0]} and {link.shape[1]} and\nLink_small is {link_small.shape[0]} and {link_small.shape[1]}")

The shape of Link is 45843 and 3 and
Link_small is 9125 and 3

    The Links small dataset is part of the Links dataset and has the same data.
    We can ignore one of them for analysis, as having both would be unnecessary.

    Now Working upon the ratings and ratings_small dataframe next then will shift on other :
        5, 6 About this given dataset there is 2 columns >> userId >> movieId >> rating >> timestamp
            NOTE -- This column/Features contains the rating and the timestamp of the movies. This column must
                    be useful for the movie recommendataion as the ratings describe the movies very much.

##### Ratings Dataset!

In [15]:
rating = pd.read_csv('DataSets/ratings.csv')
rating_small = pd.read_csv('DataSets/ratings_small.csv')

In [16]:
rating.shape()

TypeError: 'tuple' object is not callable

In [17]:
rating_small.shape

(100004, 4)

    The ratings small dataset is same as a part of the ratings dataset and has the same data.
    We can ignore one of them for analysis, as having both would be unnecessary.

    Now Working upon the main dataframe movies and this is the most important one :
        7 About this given dataset there is 24 Columns and the all are not so much important to us : 
            NOTE -- This dataset is a metadataset and stores all the important information of the data so its 
            the most important one.

##### Movies Meta Data

In [18]:
movies = pd.read_csv('DataSets/movies_metadata.csv')
movies.head(1)

   adult                              belongs_to_collection    budget                                             genres                              homepage   id    imdb_id original_language original_title                                           overview popularity                       poster_path                            production_companies                               production_countries release_date      revenue  runtime                          spoken_languages    status tagline      title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his ...      21.95  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN  Toy Story  False          7.70     5415.00

In [19]:
movies.shape

(45466, 24)

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [21]:
df_null = movies.isnull().sum()
df_null[df_null > 50].sort_values(ascending = False)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
release_date                87
status                      87
dtype: int64

    We'll this seems that there are some Null values in the features so may had to resolve it as per our need.
    Before Cleaning lets make the all merging items.

##### Merging the Datasets to make it one.

In [22]:
credits  = credits.merge(keywords, on = 'id')
credits.head(5)

                                                cast                                               crew     id                                           keywords
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  [{'cast_id': 1, 'character': 'George Banks', '...  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [23]:
link = link.merge(rating_small, on = 'movieId')
link.head(5)

   movieId  imdbId  tmdbId  userId  rating   timestamp
0        1  114709  862.00       7    3.00   851866703
1        1  114709  862.00       9    4.00   938629179
2        1  114709  862.00      13    5.00  1331380058
3        1  114709  862.00      15    2.00   997938310
4        1  114709  862.00      19    3.00   855190091

In [24]:
link['tmdbId'].unique()

array([   862.,   8844.,  15602., ..., 392572., 402672., 391698.])

    Links and credits have same column id and tmdbid

In [25]:
link.rename(columns = {'tmdbId':'id'}, inplace = True) 
link = credits.merge(link, on = 'id')

link.head(5)

                                                cast                                               crew   id                                           keywords  movieId  imdbId  userId  rating   timestamp
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709       7    3.00   851866703
1  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709       9    4.00   938629179
2  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709      13    5.00  1331380058
3  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709      15    2.00   997938310
4  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709      19    3.00   855190091

In [26]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [27]:
df_most_null = movies.index[movies['production_companies'].isnull()].tolist()
df_most_null

[19729, 29502, 35586]

    Here these rows are not so much important as the data in those points arent clear and those indices are removed

In [28]:
movies.drop(df_most_null, inplace = True, axis = 0)

In [29]:
movies.production_companies.isnull().sum()

0

In [30]:
movies.head(1)

   adult                              belongs_to_collection    budget                                             genres                              homepage   id    imdb_id original_language original_title                                           overview popularity                       poster_path                            production_companies                               production_countries release_date      revenue  runtime                          spoken_languages    status tagline      title  video  vote_average  vote_count
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his ...      21.95  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN  Toy Story  False          7.70     5415.00

In [31]:
movies['id'].dtypes

dtype('O')

In [32]:
movies[movies['id'].isnull()]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

In [33]:
movies.drop([19730, 29503, 35587], inplace = True, axis = 0)
movies['id'] = pd.to_numeric(movies['id'], errors='coerce')
movies['id'] = movies['id'].astype(int)

    Here let's join the final values.

In [34]:
movie_df = movies.merge(link, on = 'id')
movie_df.head(2)

   adult                              belongs_to_collection    budget                                             genres                              homepage   id    imdb_id original_language original_title                                           overview popularity                       poster_path                            production_companies                               production_countries release_date      revenue  runtime                          spoken_languages    status tagline      title  video  vote_average  vote_count                                               cast                                               crew                                           keywords  movieId  imdbId  userId  rating  timestamp
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his ...      21.95  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN  Toy Story  False          7.70     5415.00  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709       7    3.00  851866703
1  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his ...      21.95  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN  Toy Story  False          7.70     5415.00  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709       9    4.00  938629179

In [35]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100122 entries, 0 to 100121
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   adult                  100122 non-null  object
 1   belongs_to_collection  31280 non-null   object
 2   budget                 100122 non-null  object
 3   genres                 100122 non-null  object
 4   homepage               28323 non-null   object
 5   id                     100122 non-null  int32
 6   imdb_id                100122 non-null  object
 7   original_language      100122 non-null  object
 8   original_title         100122 non-null  object
 9   overview               100108 non-null  object
 10  popularity             100122 non-null  object
 11  poster_path            100116 non-null  object
 12  production_companies   100122 non-null  object
 13  production_countries   100122 non-null  object
 14  release_date           100122 non-null  object
 15  revenue                100122 non-null  float64
 16  runtime                100122 non-null  float64
 17  spoken_languages       100122 non-null  object
 18  status                 100113 non-null  object
 19  tagline                92158 non-null   object
 20  title                  100122 non-null  object
 21  video                  100122 non-null  object
 22  vote_average           100122 non-null  float64
 23  vote_count             100122 non-null  float64
 24  cast                   100122 non-null  object
 25  crew                   100122 non-null  object
 26  keywords               100122 non-null  object
 27  movieId                100122 non-null  int64
 28  imdbId                 100122 non-null  int64
 29  userId                 100122 non-null  int64
 30  rating                 100122 non-null  float64
 31  timestamp              100122 non-null  int64
dtypes: float64(5), int32(1), int64(4), object(22)
memory usage: 24.1+ MB

    After joining lets shift on more EDA tools like Dropping Duplicates, Captializing and more...

##### Checking the Duplicates.

In [36]:
movie_df. duplicated().sum()

244

In [37]:
movie_df.drop_duplicates()
movie_df.head(1)

   adult                              belongs_to_collection    budget                                             genres                              homepage   id    imdb_id original_language original_title                                           overview popularity                       poster_path                            production_companies                               production_countries release_date      revenue  runtime                          spoken_languages    status tagline      title  video  vote_average  vote_count                                               cast                                               crew                                           keywords  movieId  imdbId  userId  rating  timestamp
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story  862  tt0114709                en      Toy Story  Led by Woody, Andy's toys live happily in his ...      21.95  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Released     NaN  Toy Story  False          7.70     5415.00  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...        1  114709       7    3.00  851866703

In [38]:
movie_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'cast', 'crew', 'keywords', 'movieId', 'imdbId', 'userId', 'rating', 'timestamp'], dtype='object')

    As working on movies recommendtaion we don't need some columns as they aren't so much useful for us.
    So Exploraing Each column for our better result.

In [39]:
movie_df['adult'].value_counts()
# As this columns only have False that is only single entries feature so not useful at all.

adult
False    100122
Name: count, dtype: int64

In [40]:
movie_df['belongs_to_collection'].value_counts(ascending = False).head()
# We have title so not so much useful for us.

belongs_to_collection
{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/ghd5zOQnDaDW1mxO7R5fXXpZMu.jpg', 'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'}                  1053
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                 683
{'id': 119, 'name': 'The Lord of the Rings Collection', 'poster_path': '/p4UokEk2XnjjRTdXGe6DLYXlbI1.jpg', 'backdrop_path': '/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg'}     564
{'id': 84, 'name': 'Indiana Jones Collection', 'poster_path': '/lpxDrACKJhbbGOlwVMNz5YCj6SI.jpg', 'backdrop_path': '/6kh59mZizZsttZPR0HAdXk6Ve2n.jpg'}              489
{'id': 1241, 'name': 'Harry Potter Collection', 'poster_path': '/8Xmkc1HvCOpMlbFvVabrtr6HAsp.jpg', 'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'}             463
Name: count, dtype: int64

In [41]:
movie_df['budget'] = movie_df['budget'].astype(int)
movie_df['budget'].value_counts(ascending = False).head()
# From 1lakh entries we have 20% values in budget this seems not so much useful but in case its imoprtant and needed.

budget
0           18237
30000000     2824
25000000     2686
15000000     2554
6000000      2140
Name: count, dtype: int64

In [42]:
movie_df['genres'].head(5)
# They are also most important and can be used in fetching the reason of the movies recommend.

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
2    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
3    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
4    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Name: genres, dtype: object

In [43]:
movie_df['homepage'].value_counts(ascending = False).head()
# This are the links for the movie description and overview, mmm... so not useful.

homepage
http://www.lordoftherings.net/                                   388
http://www.indianajones.com                                      318
http://www.starwars.com/films/star-wars-episode-iv-a-new-hope    291
http://www.missionimpossible.com/                                279
http://www.jurassicpark.com/                                     274
Name: count, dtype: int64

In [44]:
movie_df[['id', 'imdb_id', 'movieId', 'imdbId', 'userId']].head()
# both are identification no as we have mereged all rows so the id may be usefl for target other ids may can be removed.

    id    imdb_id  movieId  imdbId  userId
0  862  tt0114709        1  114709       7
1  862  tt0114709        1  114709       9
2  862  tt0114709        1  114709      13
3  862  tt0114709        1  114709      15
4  862  tt0114709        1  114709      19

In [45]:
movie_df['original_language'].value_counts().head()
# Again the 96% movies are in English Genres so not so relevent due to data imbalance.

original_language
en    94900
fr     1331
ja      931
de      535
it      521
Name: count, dtype: int64

In [46]:
movie_df['original_title'].value_counts().head()
# we'll we have title so in this case its not important or may be w'll see after.

original_title
Forrest Gump                341
Pulp Fiction                324
The Shawshank Redemption    311
The Silence of the Lambs    304
Star Wars                   291
Name: count, dtype: int64

In [47]:
movie_df['overview'].value_counts().head(1)
# The actual response of the movie can lead to understand the impact of customer review.

overview
A man with a low IQ has accomplished great things in his life and been present during significant historic events - in each case, far exceeding what anyone imagined he could do. Yet, despite all the things he has attained, his one true love eludes him. 'Forrest Gump' is the story of a man who rose above his challenges, and who proved that determination, courage, and love are more important than ability.    341
Name: count, dtype: int64

In [48]:
movie_df['popularity'] = pd.to_numeric(movie_df['popularity'], errors='coerce')
movie_df['popularity'] = movie_df['popularity'].astype(int)

In [49]:
movie_df['popularity'].value_counts().head()
# this deleivers that how populat the show is may be in the form of Ratings or more.

popularity
11    8297
8     7444
10    7359
9     7169
7     6714
Name: count, dtype: int64

In [50]:
movie_df['poster_path'].head()
# This feature delebrates what is the poster of the movie this seems not so useful but if we need we shall work upon

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
2    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
3    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
4    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
Name: poster_path, dtype: object

In [51]:
movie_df['production_companies'].head()
# One of the most important one as because The Production Companies are mostly liked one as per there last movies.
# so can be predectid for there next one.

0    [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'Pixar Animation Studios', 'id': 3}]
2    [{'name': 'Pixar Animation Studios', 'id': 3}]
3    [{'name': 'Pixar Animation Studios', 'id': 3}]
4    [{'name': 'Pixar Animation Studios', 'id': 3}]
Name: production_companies, dtype: object

In [52]:
movie_df['production_countries'].value_counts().head()
# We'll Country or the landmark dont reflect movies interest and we have many other features to calculate values 
# so this shoud beeeee important for us

production_countries
[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                    70078
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]     6289
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                               2993
[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]            2339
[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]             1208
Name: count, dtype: int64

In [53]:
movie_df['release_date'].value_counts().head()
# we have timestamp that can give more data so this may vary, moving next.

release_date
1995-12-29    422
1994-09-10    372
1994-07-06    341
1990-11-09    336
1995-07-19    329
Name: count, dtype: int64

In [54]:
movie_df['revenue'].dtype
movie_df['revenue'].value_counts().head()
# As like budget this column has also 0 Revenue in some rows so the 17% data is having less revenue or zero so can see it later.

revenue
0.00            17029
677945399.00      341
213928762.00      324
28341469.00       311
272742922.00      304
Name: count, dtype: int64

In [55]:
movie_df['runtime'].value_counts().head()
# The movies length can also important in our feature selection.

runtime
108.00    2349
119.00    2289
98.00     2225
106.00    2186
113.00    2146
Name: count, dtype: int64

In [56]:
movie_df['spoken_languages'].value_counts().head()
# This may can be useful as original language is english but the spoken language may be dubbed so mean to be if needed.

spoken_languages
[{'iso_639_1': 'en', 'name': 'English'}]                                             63513
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]      3272
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]     3009
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'ru', 'name': 'Pусский'}]      1206
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}]     1133
Name: count, dtype: int64

In [57]:
movie_df['status'].value_counts()
# Most of the movies are released and hence we know that we get the data which are been released so this may not useful

status
Released           100081
Rumored                18
Post Production        13
In Production           1
Name: count, dtype: int64

In [58]:
movie_df['tagline'].value_counts().head()
# The tagline  refers to the movie intro words not son  useful.

tagline
The world will never be the same, once you've seen it through the eyes of Forrest Gump.    341
Just because you are a character doesn't mean you have character.                          324
Fear can hold you prisoner. Hope can set you free.                                         311
To enter the mind of a killer she must challenge the mind of a madman.                     304
A long time ago in a galaxy far, far away...                                               291
Name: count, dtype: int64

In [59]:
movie_df['title'].value_counts().head()
# Original movie name so useful for our movie recommend.

title
Forrest Gump                341
Pulp Fiction                324
The Shawshank Redemption    311
The Silence of the Lambs    304
Star Wars                   291
Name: count, dtype: int64

In [60]:
movie_df['video'].value_counts().head()
# 99% Video links aren't given so not usefull at all. and leads to data imbalance.

video
False    100116
True          6
Name: count, dtype: int64

In [61]:
movie_df[['vote_average', 'vote_count']].describe()
# The voting average and count column satisfies the overview of movies so it is important feature to us,

       vote_average  vote_count
count     100122.00   100122.00
mean           6.87     1548.83
std            0.84     2064.97
min            0.00        0.00
25%            6.40      207.00
50%            6.90      692.00
75%            7.50     1973.00
max           10.00    14075.00

In [62]:
movie_df[['cast', 'crew', 'keywords']].head()
# cast and crew are also most important to us so needed both of them.

                                                cast                                               crew                                           keywords
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
2  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
3  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
4  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [63]:
movie_df['rating'].describe()
# As rating may also lead in performance of movie recommend so need it..

count   100122.00
mean         3.54
std          1.06
min          0.50
25%          3.00
50%          4.00
75%          4.00
max          5.00
Name: rating, dtype: float64

In [64]:
movie_df['timestamp'].head()
# describes the timeline usually the date and the actual show time

0     851866703
1     938629179
2    1331380058
3     997938310
4     855190091
Name: timestamp, dtype: int64

In [65]:
movie_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'cast', 'crew', 'keywords', 'movieId', 'imdbId', 'userId', 'rating', 'timestamp'], dtype='object')

In [66]:
dropping_col = ['adult', 'belongs_to_collection', 'homepage', 'imdb_id', 'original_language', 'original_title',
 'production_countries', 'release_date', 'status', 'tagline', 'video', 'movieId', 'imdbId', 'userId', 'timestamp']

In [67]:
movie_df.drop(dropping_col, axis = 1, inplace = True)
movie_df.head(1)

     budget                                             genres   id                                           overview  popularity                       poster_path                            production_companies      revenue  runtime                          spoken_languages      title  vote_average  vote_count                                               cast                                               crew                                           keywords  rating
0  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  862  Led by Woody, Andy's toys live happily in his ...          21  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg  [{'name': 'Pixar Animation Studios', 'id': 3}] 373554033.00    81.00  [{'iso_639_1': 'en', 'name': 'English'}]  Toy Story          7.70     5415.00  [{'cast_id': 14, 'character': 'Woody (voice)',...  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...    3.00

In [68]:
df_null = movie_df.isnull().sum()
df_null[df_null > 0].sort_values(ascending = False)

overview       14
poster_path     6
dtype: int64

In [69]:
movie_df.dropna(inplace = True)

In [70]:
df_null = movie_df.isnull().sum()
df_null[df_null > 0].sort_values(ascending = False)

Series([], dtype: int64)

In [71]:
movie_df.duplicated().sum()

71508

    After removing the useless column we got 75% of duplicate values that may lead to data duplicacy so need to resolve

In [72]:
movie_df.drop_duplicates(inplace = True)

In [73]:
movie_df.shape

(28594, 17)

##### Now let's fetch out the important items.

    Genres from genre we have id name for each genre in our dataset as we are most interested in the name of genre 
    not on its id, we only keep its name by removing the extra unnecessary information.

In [74]:
def genre_convert(data):
    # Convert genre string to list of genre names.
    genre = []
    for i in ast.literal_eval(data):
        genre.append(i['name'])
    return genre

In [75]:
movie_df['genres'] = movie_df['genres'].apply(genre_convert)

In [76]:
movie_df['genres'].head()

0    [Animation, Comedy, Family]
1    [Animation, Comedy, Family]
2    [Animation, Comedy, Family]
3    [Animation, Comedy, Family]
5    [Animation, Comedy, Family]
Name: genres, dtype: object

    In keywords we have id name for each keywords in our dataset as we are most interested in the name of keywords 
    not on its id, we only keep its name by removing the extra unnecessary information

In [77]:
def name_convert(data):
    # Convert keyword string to list of keyword names.
    keywords = []
    for i in ast.literal_eval(data):
        keywords.append(i['name'])
    return keywords

In [78]:
movie_df['keywords'] = movie_df['keywords'].apply(name_convert)

In [79]:
movie_df['keywords'].head()

0    [jealousy, toy, boy, friendship, friends, riva...
1    [jealousy, toy, boy, friendship, friends, riva...
2    [jealousy, toy, boy, friendship, friends, riva...
3    [jealousy, toy, boy, friendship, friends, riva...
5    [jealousy, toy, boy, friendship, friends, riva...
Name: keywords, dtype: object

    Same in cast we have cast_id and character for each cast in our dataset as we are most interested in
    the character of cast not on its id, we only keep its name by removing the extra unnecessary information

In [80]:
def cast_names(data):
    # Get names of first three actors.
    actors = []
    counter = 0
    for i in ast.literal_eval(data):
        if counter != 3:
            actors.append(i['name'])
            counter += 1
    return actors

In [81]:
movie_df['cast'] = movie_df['cast'].apply(cast_names)

In [82]:
movie_df['cast'].head()

0    [Tom Hanks, Tim Allen, Don Rickles]
1    [Tom Hanks, Tim Allen, Don Rickles]
2    [Tom Hanks, Tim Allen, Don Rickles]
3    [Tom Hanks, Tim Allen, Don Rickles]
5    [Tom Hanks, Tim Allen, Don Rickles]
Name: cast, dtype: object

    Same for Crew

In [83]:
def crew_names(data):
    # Get the director's name.
    director = []
    for i in ast.literal_eval(data):
        if i['job'] == "Director":
            director.append(i['name'])
            break
    return director

In [84]:
movie_df['crew'] = movie_df['crew'].apply(crew_names)

In [85]:
movie_df['crew']

0               [John Lasseter]
1               [John Lasseter]
2               [John Lasseter]
3               [John Lasseter]
5               [John Lasseter]
                  ...
100117    [Anthony C. Ferrante]
100118         [Gregg Champion]
100119      [Tinu Suresh Desai]
100120     [Ashutosh Gowariker]
100121             [Ron Howard]
Name: crew, Length: 28594, dtype: object

     As done for Spoken Languages is also same

In [86]:
def spoken_lang(data):
    # Convert spoken language string to list of language names.
    keywords = []
    for i in ast.literal_eval(data):
        keywords.append(i['name'])
    return keywords

In [87]:
movie_df['spoken_languages'] = movie_df['spoken_languages'].apply(spoken_lang)

In [88]:
movie_df['spoken_languages'].head()

0    [English]
1    [English]
2    [English]
3    [English]
5    [English]
Name: spoken_languages, dtype: object

In [89]:
def production_companies(data):
    # Convert production companies string to list of names.
    production_companies = []
    for i in ast.literal_eval(data):
        production_companies.append(i['name'])
    return production_companies

In [90]:
movie_df['production_companies'] = movie_df['production_companies'].apply(production_companies)

In [91]:
movie_df['production_companies'].head()

0    [Pixar Animation Studios]
1    [Pixar Animation Studios]
2    [Pixar Animation Studios]
3    [Pixar Animation Studios]
5    [Pixar Animation Studios]
Name: production_companies, dtype: object

In [92]:
movie_df['poster_path'].head(1)

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
Name: poster_path, dtype: object

In [93]:
movie_df['poster_path'] = "<img src='https://image.tmdb.org/t/p/w185/" + movie_df['poster_path'] + "' style='height:100px;'/>"
movie_df['poster_path'].tail(1)

100121    <img src='https://image.tmdb.org/t/p/w185//uv7...
Name: poster_path, dtype: object

In [94]:
movie_df['genres'] = movie_df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movie_df['cast'] = movie_df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movie_df['crew'] = movie_df['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movie_df['keywords'] = movie_df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [95]:
movie_df['genres'] = movie_df['genres'].apply(lambda x:" ".join(x))
movie_df['cast'] = movie_df['cast'].apply(lambda x:" ".join(x))
movie_df['crew'] = movie_df['crew'].apply(lambda x:" ".join(x))
movie_df['keywords'] = movie_df['keywords'].apply(lambda x:" ".join(x))
movie_df['spoken_languages'] = movie_df['spoken_languages'].apply(lambda x:" ".join(x))
movie_df['production_companies'] = movie_df['production_companies'].apply(lambda x:" ".join(x))

In [96]:
movie_df.head(5)

     budget                   genres   id                                           overview  popularity                                        poster_path     production_companies      revenue  runtime spoken_languages      title  vote_average  vote_count                          cast          crew                                           keywords  rating
0  30000000  Animation Comedy Family  862  Led by Woody, Andy's toys live happily in his ...          21  <img src='https://image.tmdb.org/t/p/w185//rhI...  Pixar Animation Studios 373554033.00    81.00          English  Toy Story          7.70     5415.00  TomHanks TimAllen DonRickles  JohnLasseter  jealousy toy boy friendship friends rivalry bo...    3.00
1  30000000  Animation Comedy Family  862  Led by Woody, Andy's toys live happily in his ...          21  <img src='https://image.tmdb.org/t/p/w185//rhI...  Pixar Animation Studios 373554033.00    81.00          English  Toy Story          7.70     5415.00  TomHanks TimAllen DonRickles  JohnLasseter  jealousy toy boy friendship friends rivalry bo...    4.00
2  30000000  Animation Comedy Family  862  Led by Woody, Andy's toys live happily in his ...          21  <img src='https://image.tmdb.org/t/p/w185//rhI...  Pixar Animation Studios 373554033.00    81.00          English  Toy Story          7.70     5415.00  TomHanks TimAllen DonRickles  JohnLasseter  jealousy toy boy friendship friends rivalry bo...    5.00
3  30000000  Animation Comedy Family  862  Led by Woody, Andy's toys live happily in his ...          21  <img src='https://image.tmdb.org/t/p/w185//rhI...  Pixar Animation Studios 373554033.00    81.00          English  Toy Story          7.70     5415.00  TomHanks TimAllen DonRickles  JohnLasseter  jealousy toy boy friendship friends rivalry bo...    2.00
5  30000000  Animation Comedy Family  862  Led by Woody, Andy's toys live happily in his ...          21  <img src='https://image.tmdb.org/t/p/w185//rhI...  Pixar Animation Studios 373554033.00    81.00          English  Toy Story          7.70     5415.00  TomHanks TimAllen DonRickles  JohnLasseter  jealousy toy boy friendship friends rivalry bo...    3.50

In [97]:
movie_df.duplicated().sum()

18

In [98]:
movie_df.drop_duplicates(inplace = True)

##### Now its seems that we have dont all the works lets save the file for future purpose!

In [99]:
movie_df.to_csv('DataSet_Clean/Movie_Clean.csv', index = False)

    Thanks Now Exploratory Data Analysis is done in another Notebook

In [100]:
100 Steps to Clean with 
    100 Accuracy

# Data Cleaning --- Vikas Kumar Ram